.sidebar {
	width: 255px;
}

.sidebar-filter {
	margin-top: 30px;
	width: 255px;
	background: #fff;
	margin-right: 100px;
	border-radius: 10px;
	padding: 15px;
}

.sidebar-filter__item {
	list-style-type: none;
}
.sidebar-filter__content {
}

.categories li {
	padding: 4px 0px;
	font-size: 12px;
	font-weight: 400;
	line-height: 21px;
	margin-top: 10px;
	list-style: none;
}

.sub {
	margin-left: 8px;
	padding-left: 8px;
}

.sidebar-add-to-collection--btn {
	border: 2px solid rgb(0, 0, 0);
	border-radius: 5px;
	color: rgb(73, 73, 73);
	padding: 6px 3px 3px 3px;
	text-align: center;
	transition: 0.5s;
	/* font-weight: 500; */
}

.sidebar-add-to-collection--btn:hover {
	color: #fff;
	background-color: #000;
}

.sidebar__search {
	border-radius: 7px;
	outline: none;
	height: 24px;
	border: 1px solid #cccccc;
	padding: 0 0 0 10px;
	font-size: 13px;
}
