.collection__content--container {
	max-width: 1500px;
	margin: 70px auto;
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.collection__content--img {
	width: 70px;
}

.collection__content--table {
}

.collection__content--table tr {
	transition: all 0.8s;
}
.collection__content--table tr:hover {
	background-color: rgb(226, 226, 226);
}

.collection__content--amount {
	width: 50px;
}

table {
	border-collapse: collapse;
	width: 100%;
}
th,
td {
	padding: 0.25rem;
	text-align: left;
	border: 1px solid #ccc;
}
/* tbody tr:nth-child(odd) {
	background: #eee;
} */
tbody tr {
	background: #fff;
}

td:hover {
	text-decoration: underline;
}

.collection__import-export--btns {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	width: 440px;
}
.collection__coins-count {
	color: rgb(105, 105, 105);
}

.exportInCSV--btn {
	width: 120px;
	line-height: 32px;
	border-radius: 5px;
	padding-left: 5px;
	font-size: 0.9em;
	background-color: #fff;
	color: #000;
	transition: 0.3s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.exportInCSV--btn:hover {
	color: white;
	box-shadow: 0px 1px 3px lightgrey;
	background-color: #000;
}

.importCSV--btn {
	width: 180px;
	line-height: 32px;
	border-radius: 5px;
	padding-left: 5px;
	font-size: 0.9em;
	background-color: #fff;
	color: #000;
	transition: 0.3s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.importCSV--btn:hover {
	color: white;
	box-shadow: 0px 1px 3px lightgrey;
	background-color: #000;
}

.importCSV--label {
	width: 100px;
	line-height: 32px;
	border-radius: 5px;
	padding-left: 5px;
	font-size: 0.9em;
	background-color: #fff;
	color: #000;
	transition: 0.3s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.importCSV--label:hover {
	color: white;
	box-shadow: 0px 1px 3px lightgrey;
	background-color: #000;
}

.fa-download,
.fa-upload {
	margin-right: 5px;
}

.collection-content__delete_column {
	text-align: center;
}

.collection-content--delete-btn {
	transition: 0.5s;
}

.collection-content--delete-btn:hover {
	color: red;
}
