.login-container {
	display: flex;
}

.loginWrap {
	position: relative;
	margin: 0 auto;
	margin-top: 200px;
	height: 350px;
	width: 350px;
	border-radius: 20px;
	/* border: 2px solid blue; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 2px 15px #333;
	height: 100%;
	padding: 20px 0px;
}

.login-form-header {
	text-align: center;
	font-weight: 600;
	font-size: 1.5em;
	margin-top: 10px;
	color: #3f2525;
	margin-bottom: 10px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login-input {
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10px;
	height: 40px;
	border-radius: 5px;
	outline: 0;
}

.login-btn,
.demo-btn {
	border: 3px solid #000;
	color: rgb(78, 78, 78);
	background-color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	font-weight: bold;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10px;
	height: 40px;
	border-radius: 5px;
	outline: 0;
	transition: all 0.3s;
}

.login-btn:hover,
.demo-btn:hover {
	background-color: #000;
	color: #fff;
}

.login-input {
	border: 1px solid #cccccc;
	padding: 0 0 0 10px;
	font-size: 14px;
}

.login-input:focus {
	border: 1px solid #046daa;
}

.switch-link-container {
	margin-bottom: 10px;
	text-align: end;
}
.switchLinkName {
	font-size: 12px;
	text-decoration: none;
}
.switchLink {
	font-size: 12px;
	color: #186dee;
	margin-left: 5px;
	margin-right: 20px;
	text-decoration: none;
}

.errorsList {
	list-style-position: none;
	margin-left: 20px;
}

.errorsContainer {
	width: 90%;
	border: 1px solid #c44536;
	padding: 10px;
	background-color: #ffb1b4;
	color: #c44536;
	border-radius: 5px;
	margin: 15px 5%;
}

.hidePassword {
	position: absolute;
	bottom: 145px;
	right: 30px;
}
