.coin__add-to-collection--btn {
	color: red;
}

.flip-card {
	background-color: transparent;
	width: 100px;
	height: 200px;
	perspective: 1000px;
}

.flip-card-inner {
	position: inherit;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card:focus {
	outline: 0;
}

.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.flip-card-front {
	color: black;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flip-card-back {
	color: white;
	transform: rotateY(180deg);
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
