.coin-detail__container {
	width: 1000px;
	margin: 70px auto;
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.detail-entry {
	/* display:flex;
	justify-content:space-between;
	flex-wrap: wrap; */
	display: grid;
	grid-template-columns: 150px 1fr;
	grid-template-rows: 1fr;
	margin-bottom: 5px;
}

.coin-info-photos {
	margin: 20px 0;
}

.coin__detail--img {
	margin: 0 20px 0 0;
	width: 180px;
	height: 180px;
}
