.collection-list__container {
	margin: 70px auto;
	width: 70%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 15px;
	row-gap: 15px;
}

.add-collection_img {
	font-size: 185px;
	/* color: #333; */
}
